$primary-color: #293133;
$dark-text-primary-color: rgba(0, 0, 0, 0.87);
$dark-text-secondary-color: rgba(0, 0, 0, 0.7);

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "icons";

body {
    color: $dark-text-primary-color;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

header {
    background: linear-gradient(to bottom, darken($primary-color, 15%) 0%, lighten($primary-color, 15%) 100%);
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: -75px;
    height: 100px;

    @media (min-width: 576px) {
        height: 150px;
    }

    @media (min-width: 768px) {
        height: 200px;
    }

    @media (min-width: 992px) {
        height: 260px;
    }

    @media (min-width: 1200px) {
        height: 320px;
    }
}

.profile {
    text-align: center;

    .avatar {
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid $primary-color;
        width: 150px;
        height: 150px;
        background-color: $primary-color;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/osman.jpg");
    }

    .bio {
        padding-top: 15px;

        h1 {
            font-weight: 500;
            line-height: 1;
            margin-bottom: 15px;
        }

        p {
            color: $dark-text-secondary-color;
        }
    }
}

section {
    @extend .container;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

    h2 {
        color: $dark-text-secondary-color;
        margin-bottom: 30px;
    }
}

.contact-channels {
    @extend .row;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;

    li {
        @extend .col;
        margin-bottom: 30px;
        text-align: center;
        list-style: none;

        a {
            display: inline-block;
        }

        [class^="icon-"],
        [class*=" icon-"] {
            display: block;
            margin: 0 auto 8px auto;
            width: 48px;
            height: 48px;
        }
    }
}
